.app {
    background-color:yellow;
    padding: 30px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.todo-list {
    width: 600px;
}

.todo {
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 5px;
    height: 48px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.todo:hover .remove {
    display: block;
}

.remove {
    display: none;
}

.icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.task {
    display: flex;
    align-items: center;
}

